#main {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    background-color: rgba(0, 0, 0, 0.6);
    font: white;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.6);
}
.zdj {
    box-shadow: white 0px 0px 25px;
    transition: 0.5s ease-in-out;
}
.zdj:hover {
    box-shadow: 0 0px 40px rgba(255, 255, 255);
}
body {
    font-family: Helvetica, sans-serif;
  }
hr {
    box-shadow: white 0px 0px 25px;
    transition: 0.5s ease-in-out;
}
h1 {
    color:white;
    font-family: Helvetica, sans-serif;
}
font {
    color:white;
    font-family: Helvetica, sans-serif;
    text-align: justify; 
    
}
p.one {
    padding-left: 160px;
    padding-right: 160px;
    color: #e6e6e6;
}
p.two {
    padding-left: 160px;
    padding-right: 160px;
    color: #cccccc;
}
p.three {
    padding-left: 160px;
    padding-right: 160px;
    color: #b3b3b3;
}
p.four {
    padding-left: 160px;
    padding-right: 160px;
    color: #999999;
}
p.five {
    padding-left: 160px;
    padding-right: 160px;
    color: #808080;
}
p.six {
    padding-left: 160px;
    padding-right: 160px;
    color: #666666;
}

h1.tytul {
    color: rgb(67, 180, 255);
  }
font.autor {
    color: rgb(190, 229, 255);
}